body{
    margin: 0;
}

nav{
    border: 2px solid green;
    height: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    
    width: 20%;
    display: flex;
}

.left >a{
    text-decoration: none;
    color: crimson;
    font-size: 2vmax;
    
}

.mid{
    
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.mid >a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid >a:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
}

.right{
    
    width: 20%;
    display: flex;
    justify-content: center;
}

.right > img{
    width: 2.5vmax;

}
